<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/financiera.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión Financiera</h1>
</div>
<!--<div class="contenedor">
    <a href="../../mapa-proceso.html">
       <button>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <i class='bx bx-left-arrow-alt'></i> REGRESAR
       </button>
    </a>
   </div> -->
<div class="title"><h3>1. Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-50">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">GCA-P01-F04-R13 Caracterización de proceso GF</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Formato Caracterización de proceso GF.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2. Procedimientos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-51">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">GF-P01-R6 Procedimiento de Facturación</td>
                <td class="imagen"><a href="/1 GF-P01 R6 Procedimiento de Facturación.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>      
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">GF-P02-R5 Procedimiento de Pago a Proveedores</td>
                <td class="imagen"><a href="/2 GF-P02-R5 Procedimiento de Pago a Proveedores.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>


    <div class="title"><h3>3. Instructivos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-52">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">GF-IN01-R4 Instructivo Programa de Facturación</td>
                <td class="imagen"><a href="/1 GF-IN01 R4 Instructivo Programa de Facturación.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">GF-IN02-R5 Instructivo Elaboración de facturas</td>
                <td class="imagen"><a href="/2. GF-IN02-R6 Instructivo Elaboración de facturas.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">GF-IN03-R2 Instructivo de Recuperación de Cartera</td>
                <td class="imagen"><a href="/3 GF-IN03-R2 Instructivo de Recuperación de Cartera.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">GF-IN04-R4 Creación de Centro de Costos</td>
                <td class="imagen"><a href="/4. GF-IN04-R4 Creación de Centro de Costos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>      
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">GF-IN05-R2 Instructivo control de archivo fisico contratos</td>
                <td class="imagen"><a href="/5 GF-IN05-R3 Instructivo control de archivo físico contratos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">GF-IN06-R2 Instructivo interface nómina, liquidación, prima y cesantías</td>
                <td class="imagen"><a href="/6. GF-IN06-R2 Instructivo interface nómina, liquidación, prima y cesantías.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">GF-IN07-R2 Instructivo Realización Egreso 140</td>
                <td class="imagen"><a href="/7. GF-IN07-R2 Instructivo Realización Egreso 140.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">GF-IN08-R1 Instructivo Realización Egreso 310</td>
                <td class="imagen"><a href="/8 GF-IN08-R1 Instructivo Realización Egreso 310.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">GF-IN09-R2 Instructivo para la Elaboración de Recibos de Caja</td>
                <td class="imagen"><a href="/9. GF-IN09-R3 Instructivo para la Elaboración de Recibos de Caja.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">10</td>
                    <td class="letra">GF-IN10-R1 Instructivo Manejo Cajas Menores</td>
                <td class="imagen"><a href="/10 GF-IN10-R2  Instructivo Manejo Cajas Menores.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">11</td>
                    <td class="letra">GF-IN11-R1 Instructivo causación contable, cuentas de cobro Régimen Simplificado directa</td>
                <td class="imagen"><a href="/11. GF-IN11-R2 Instructivo causación contable cuentas de cobro Régimen Simplificado directa.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">12</td>
                    <td class="letra">GF-IN12-R2 Cuentas cobro RS1 procesos especiales</td>
                <td class="imagen"><a href="/12. GF-IN12-R3 Cuentas cobro RS1 procesos especiales.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">13</td>
                    <td class="letra">GF-IN13-R2 Instructivo causación contable, facturas otros régimen, directa</td>
                <td class="imagen"><a href="/13. GF-IN13-R3 Instructivo causación contable facturas otros régimen directa.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">14</td>
                    <td class="letra">GF-IN14-R2 Instructivo causación contable, facturas otros régimen, procesos especiales</td>
                <td class="imagen"><a href="/14. GF-IN14-R3 Instructivo causación contable facturas otros régimen procesos especiales.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">15</td>
                    <td class="letra">GF-IN15-R1 Instructivo causación contable, Notas Credito 150</td>
                <td class="imagen"><a href="/15. GF-IN15-R2 Instructivo causación contable Notas Crédito 150.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">16</td>
                    <td class="letra">GF-IN16-R1 Instructivo causación contable, Notas Debito 130</td>
                <td class="imagen"><a href="/16. GF-IN16-R2 Instructivo causación contable Notas Debito 130.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">17</td>
                    <td class="letra">GF-IN17-R0 Instructivo Recepción facturas electrónicas en Facture</td>
                <td class="imagen"><a href="/17. GF-IN17-R0 Instructivo Recepción facturas electrónicas en Facture.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">18</td>
                    <td class="letra">GF-IN18-R0 Instructivo Elaboración Requisiciones</td>
                <td class="imagen"><a href="/18. GF-IN18-R0 Instructivo Elaboración Requisiciones.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">19</td>
                    <td class="letra">GF-IN19-R0 Instructivo Elaboración Comprobante Egreso 310 - Archivo Plano</td>
                <td class="imagen"><a href="/19. GF-IN19-R0 Instructivo Elaboración Comprobante Egreso 310 - Archivo Plano.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 

            </tbody>
        </table>
    </div>

    <div class="title"><h3>4. Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-53">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">GF-P01-F01-R2 Programa de Facturación</td>
                <td class="imagen"><a href="/1 GF-P01-F01-R2 Programa de Facturación.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">GF-P01-F03-R3 Control retiro y entrega de contratos</td>
                <td class="imagen"><a href="/2 GF-P01-F03-R3 Control retiro y entrega de contratos.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">GF-P03-F02-R2 Formato relación documentos entregados</td>
                <td class="imagen"><a href="/4 GF-P03-F02-R2 Formato relación documentos entregados.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">GF-IN10-F01-R1 Reembolso caja menor</td>
                <td class="imagen"><a href="/5 GF-IN10-F01-R1 Reembolso caja menor.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                 
            </tbody>
        </table>
    </div>


    <div class="title"><h3>5. No controlados SGC</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-54">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">Provisional caja menor</td>
                <td class="imagen"><a href="/2 Provisional caja menor.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>

    
    
</body>
</html>