<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/estrategica.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión Estratégica</h1>
</div>

<div class="subtitulo"><h2>Direccionamiento del S.G.C.</h2></div>
<div class="title"><h3>1. Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra" >01</td>
                    <td class="letra">1 GCA-P01-F04-R13 Caracterización de proceso GE</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Caracterización de proceso GE.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2. Procedimientos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro" >Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra" >01</td>
                    <td class="letra">1 GE-P01-R7 Direccionamiento estratégico</td>
                <td class="imagen"><a href="/1 GE-P01-R7 Direccionamiento estratégico.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


    <div class="title"><h3>3. Manuales</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-1">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GE-L01-R1 Horizonte Institucional</td>
                <td class="imagen"><a href="/1 GE-L01-R1 Horizonte Institucional.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GE-L02-R1 Objetivos estratégicos</td>
                <td class="imagen"><a href="/2 GE-L02-R1 Objetivos estratégicos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GE-L03-R0 Red de Procesos</td>
                <td class="imagen"><a href="/3 GE-L03-R0 Red de Procesos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 Manual de marca Selcomp</td>
                <td class="imagen"><a href="/Manual de marca Selcomp.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>

    <div class="title"><h3>4. Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-2">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GE-P01-F01-R5 Revisión por la Dirección</td>
                <td class="imagen"><a href="/1 GE-P01-F01-R5 Revisión por la Dirección.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GE-P01-F02-R0 Matriz de objetivos estratégicos</td>
                <td class="imagen"><a href="/2 GE-P01-F02-R0 Matriz de objetivos estratégicos.xlsx">
                    <img src="/excel-svgrepo-com.png" alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>


    <script src="/bootstrap.min.js"></script>
    
</body>
</html>