<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/novasoft.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100;1,200&display=swap');
    </style>  
</head>
<body>

    <!--------------------------------------------------------------------------- Contenedor padre ----------------------------------------------------------------------------->
    <div class="container my-3 align-items-center">
        <div class="row my-5 justify-content-center" id="encabezado">
            <a href="/aplicaciones">
                <div class="row ">
                    <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
                </div>
               </a>
            <div class="row justify-content-center"><h1 id="titulo">NOVASOFT</h1></div>
        </div>
        
       
        <!---------------------- Contenedor de los dos portales de servicio -------------------------->
        <div class="row justify-content-center text-center" id="portales" style="padding-left: 3%; padding-right: 3%;">
            <!------------------------ tag de portal clientes ----------------------------------------------->
            <div class="col-3" style="border-radius: 100px; padding: 15px 2px;" id="pCliente">
                <div class="row">
                    <img src="/1.movimiento.gif">
                </div>
                <div class="row"  id="contenidoPortal">
                    <div class="row justify-content-center"><h2 id="categoria">PORTAL WEB NOVASOFT</h2></div>
                    <div class="row"><P id="descripcion">Portal de Servicios</P></div>
                    <div class="row justify-content-center" id="btnEnlace"><a class="enlace" href="http://novasoft.selcomp.com.co/Portal_MSOLUTION_SI/Acceso/Login.aspx?ReturnUrl=%2fPortal_MSOLUTION_SI%2fDocumentos%2fConsultarDocumentos.aspx%3fcodObjeto%3dnYfS7nYZ0pNsBVkc%2fxxHqw%3d%3d%26codGrupo%3dpdGDssb%2bfPd6CJTQdfTQxw%3d%3d&codObjeto=nYfS7nYZ0pNsBVkc/xxHqw==&codGrupo=pdGDssb+fPd6CJTQdfTQxw==" style="text-decoration: none; width: 26%;">Ingresar</a></div>
                </div>
            </div>
            
            <!-------------------------- tag de portal especialist -------------------------------------->
            <div class="col-3" style="border-radius: 100px; padding: 15px 2px;" id="pEspecialistas">
                <div class="row">
                    <img src="/1.Data extraction.gif">
                </div>
                <div class="row" id="contenidoPortal">
                    <div class="row justify-content-center"><h2 id="categoria">NOVASOFT  ENTERPRISE</h2></div>
                    <div class="row justify-content-center" style="text-align: center;"><p id="descripcion">Conozca nuestros productos y servicios</p></div>
                    <div class="row justify-content-center" class="btnEnlace"><a class="enlace" href="http://novasoft.selcomp.com.co/NovasoftWeb/Login/Ingreso.aspx?ReturnUrl=%2Fnovasoftweb">Ingresar</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/bootstrap.min.js"></script>
</body>
</html>