<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="icon" type="image/ico" href="/satelite.png">
</head>
<body>
    <div class="main-container">
        <div class="banner">
            <div class="img-container">
                <img src="/SelcompLogoPrincipal.png" id="logo"/>
            </div>
        </div>
        <h1>Iniciar sesión</h1>
        <div class="form-container">
            <form  method="post" id="formulario">
                <label class="titulo-campo">Departamento</label>
                <div class="campo-container">
                    
                    <input type="text" name="group" class="campo"/>
                </div>
                <label class="titulo-campo">Usuario</label>
                <div class="campo-container">
                    <input type="text" name="username" class="campo"/>
                </div>
                <label class="titulo-campo">Contraseña</label>
                <div class="campo-container">
                    <input type="password" name="password" class="campo"/>
                </div>
                <% if (error) { %>
                    <p><%= error %></p>
                <% } %>
                <div class="campo-container">
                    <input type="submit" value="Iniciar sesión" class="boton"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
