<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/aprovisionamiento.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión de Aprovisionamiento</h1>
</div>

<div class="subtitulo"><h2>1. Documentación</h2></div>
<div class="title"><h3>1. Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-39">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-F04 R13 Caracterización de proceso GA</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Caracterización de proceso GA V4.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


<div class="subtitulo"><h2>2. Compras</h2></div>
<div class="title"><h3>2.1 Procedimientos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-40">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GA-P01-R13 Procedimiento Compras</td>
                <td class="imagen"><a href="/1 GA-P01-R13 Procedimiento Compras.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


    <div class="title"><h3>2.2 Instructivos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-41">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GA-IN01-R7 Instructivo selección y evaluación de proveedores</td>
                <td class="imagen"><a href="/1 GA-IN01-R7 Instructivo selección y evaluación de proveedores.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GA-P01-IN01-R6 Instructivo Cotizaciones</td>
                <td class="imagen"><a href="/2 GA-P01-IN01-R6 Instructivo Cotizaciones.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GA-P01-IN02-R1 Instructivo de creación de Ítem en Novasoft</td>
                <td class="imagen"><a href="/3 GA-P01-IN02-R1 Instructivo de creación de Ítem en Novasoft.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GA-P01-IN08-R1 Instructivo para la Generación de OC en Novasoft</td>
                <td class="imagen"><a href="/4 GA-P01-IN08-R1 Instructivo para la Generación de OC en Novasoft.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>

    <div class="title"><h3>2.3 Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-42">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GA-IN01-F01-R6 Selección de Proveedores</td>
                <td class="imagen"><a href="/1 GA-IN01-F01-R6 Selección de Proveedores.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GA-IN01-F02-R9 Evaluación a Proveedores de productos o servicios</td>
                <td class="imagen"><a href="/2 GA-IN01-F02-R9 Evaluación a Proveedores de productos o servicios.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GA-IN01-F06-R0 Consolidado Evaluación a Proveedores de Productos y_o Servicios</td>
                <td class="imagen"><a href="/3 GA-IN01-F06-R0 Consolidado Evaluación a Proveedores de Productos y_o Servicios.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GA-IN01-F05-R1 Seguimiento al desempeño de proveedores</td>
                <td class="imagen"><a href="/4 GA-IN01-F05-R1 Seguimiento al desempeño de proveedores.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GA-P01-IN01-F01-R0 Base de Proveedores</td>
                <td class="imagen"><a href="/5 GA-P01-IN01-F01-R0 Base de Proveedores.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">7 GA-P01-F05-R0 Control facturas entregadas a contabilidad</td>
                <td class="imagen"><a href="/7 GA-P01-F05-R0 Control facturas entregadas a contabilidad.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">8 GCA-IN04-F01-R0 Formato de Control de Cotizaciones</td>
                <td class="imagen"><a href="/8 GCA-IN04-F01-R0 Formato de Control de Cotizaciones.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>
    <div class="title"><h3>2.4 Política</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-43">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GA-PT01-R0 Política de Gestión de Solicitudes</td>
                <td class="imagen"><a href="/1 GA-PT01-R0 Política de Gestión de Solicitudes.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
            </tbody>
        </table>

        
        <div class="subtitulo"><h2>3. Almacén</h2></div>
        <div class="title"><h3>3.1 Procedimientos</h3></div>
            <div >
                <table>
                    <thead>
                        <tr>
                            <th class="cuadro-44">Item</th>
                            <th>Nombre</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td class="letra">01</td>
                            <td class="letra">1 GA-P02-R6 Procedimiento Almacén</td>
                        <td class="imagen"><a href="/1 GA-P02-R6 Procedimiento Almacén.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
    
            <div class="title"><h3>3.2 Instructivos</h3></div>
            <div >
                <table>
                    <thead>
                        <tr>
                            <th class="cuadro-45">Item</th>
                            <th>Nombre</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td class="letra">01</td>
                            <td class="letra">1 GA-P02-IN09-R1 Instructivo de Ingreso de Elementos a Novasoft</td>
                        <td class="imagen"><a href="/1 GA-P02-IN09-R1 Instructivo de Ingreso de Elementos a Novasoft.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">02</td>
                            <td class="letra">2 GA-P02-IN10-R0 Instructivo para Despachos en Novasoft</td>
                        <td class="imagen"><a href="/2 GA-P02-IN10-R0 Instructivo para Despachos en Novasoft.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>
                        <tr>
                            <td class="letra">03</td>
                            <td class="letra">3 GA-P02-IN11-R0 Instructivo para Salidas de Almacen en Novasoft</td>
                        <td class="imagen"><a href="/3 GA-P02-IN11-R0 Instructivo para Salidas de Almacen en Novasoft.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>
                        <tr>
                            <td class="letra">04</td>
                            <td class="letra">4 GA-IN02-R4 Instructivo Control de Entregas</td>
                        <td class="imagen"><a href="/4 GA-IN02-R4 Instructivo Control de Entregas.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>
                        <tr>
                            <td class="letra">05</td>
                            <td class="letra">5 GA-IN03-R4 Instructivo Devolutivos</td>
                        <td class="imagen"><a href="/5 GA-IN03-R4 Instructivo Devolutivos.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>
                        <tr>
                            <td class="letra">06</td>
                            <td class="letra">6 GA-IN13-R0 Instructivo para Reintegro al Almacen en Novasoft</td>
                        <td class="imagen"><a href="/6 GA-IN13-R0 Instructivo para Reintegro al Almacen en Novasoft.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>
                        <tr>
                            <td class="letra">07</td>
                            <td class="letra">7 GA-IN05-R0 Instructivo Embalaje de Equipos</td>
                        <td class="imagen"><a href="/7 GA-IN05-R0 Instructivo Embalaje de Equipos.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>                  
                    </tbody>
                </table>
            </div>
            <div class="title"><h3>3.3 Formatos</h3></div>
            <div >
                <table>
                    <thead>
                        <tr>
                            <th class="cuadro-46">Item</th>
                            <th>Nombre</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td class="letra">01</td>
                            <td class="letra">1 GA-IN03-F01-R5 Control de Devolutivos</td>
                        <td class="imagen"><a href="/1 GA-IN03-F01-R5 Control de Devolutivos.xlsx">
                            <img src="/excel-svgrepo-com.png"alt=""></a></td>
                        </tr>         
                        <tr>
                            <td class="letra">02</td>
                            <td class="letra">2 GA-P02-F02-R3 Matriz de Almacenamiento</td>
                        <td class="imagen"><a href="/2 GA-P02-F02-R3 Matriz de Almacenamiento.xlsx">
                            <img src="/excel-svgrepo-com.png"alt=""></a></td>
                        </tr>  
                                
                    </tbody>
                </table>
            </div>
            <div class="title"><h3>3.4 No controlados SGC</h3></div>
            <div >
                <table>
                    <thead>
                        <tr>
                            <th class="cuadro-47">Item</th>
                            <th>Nombre</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td class="letra">01</td>
                            <td class="letra">1 Control de Transporte</td>
                        <td class="imagen"><a href="/1 Control de Transporte.xlsx">
                            <img src="/excel-svgrepo-com.png"alt=""></a></td>
                        </tr>   
                        <tr>
                            <td class="letra">02</td>
                            <td class="letra">2 Control Préstamos</td>
                        <td class="imagen"><a href="/2 Control Préstamos.xlsx">
                            <img src="/excel-svgrepo-com.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">03</td>
                            <td class="letra">3 Acta de entrega</td>
                        <td class="imagen"><a href="/3 Acta de entrega.xlsx">
                            <img src="/excel-svgrepo-com.png"alt=""></a></td>
                        </tr>                   
                    </tbody>
                </table>
            </div>

            <div class="subtitulo"><h2>4. Producto No Conforme</h2></div>
            <div class="title"><h3>4.1 Procedimientos</h3></div>
                <div >
                    <table>
                        <thead>
                            <tr>
                                <th class="cuadro-48">Item</th>
                                <th>Nombre</th>
                                <th>Formato</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td class="letra">01</td>
                                <td class="letra">1 GA-P03-R10 Procedimiento Producto No Conforme</td>
                            <td class="imagen"><a href="/1 GA-P03-R10 Procedimiento Producto No Conforme.pdf">
                                <img src="/PDF.png"alt=""></a></td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>

            <div class="title"><h3>4.2 Intructivos</h3></div>
                <div >
                    <table>
                        <thead>
                            <tr>
                                <th class="cuadro-49">Item</th>
                                <th>Nombre</th>
                                <th>Formato</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td class="letra">01</td>
                                <td class="letra">1 GA-P03-IN01-R0 Instructivo solicitud caso PNC en Aranda</td>
                            <td class="imagen"><a href="/1 GA-P03-IN01-R0 Instructivo solicitud caso PNC en Aranda.pdf">
                                <img src="/PDF.png"alt=""></a></td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
    
    
</body>
</html>