<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" >
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S </title>
    <link rel="stylesheet" href="estilo.css">

</head>
<body>
    <a href="index">
        <div class="row justify-content-center my-5">
            <img id="logo" src="selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
        </div>
       </a>
    <div id="titulo"> 
        <h2>APLICACIONES SELCOMP</h2>
</div>
<!--<div class="contenedorA">
    <a href="../../index.html">
       <button>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <i class='bx bx-left-arrow-alt'></i> REGRESAR
       </button>
    </a>
   </div>-->

   <div class="contenedor">
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="aranda.gif" alt="">
            </div>
            <h4>ARANDA</h4>
            <h6></h6>
            <p>Nuestras soluciones alineadas al marco de referencia ITIL ayudan a estandarizar los procesos de su departamento 
                de TI, optimizando la entrega, el cumplimiento
                 y uso de los recursos tecnológicos.</p>
        </div>
        <div class="links">
            <a href="aplicaciones/aranda">INGRESAR</a>
        </div>
    </div>

    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="Novasoft.gif" alt="">
            </div>
            <h4>NOVASOFT</h4>
            <h6></h6>
            <p>Nuestras últimas soluciones de software han sido desarrolladas en tecnología cloud,
                 permitiendo a nuestros clientes hacer uso de tecnología de punta y 
                 accesibilidad en cualquier momento y desde cualquier lugar, utilizando la información en tiempo real.</p>
        </div>
        <div class="links">
            <a href="aplicaciones/novasoft">INGRESAR</a>
        </div>
    </div>
   </div>
   <script src="bootstrap.min.js"></script>
</body>
</html>