<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/humana.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión Humana</h1>
</div>

<div class="title"><h3>1. Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-27">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-F04- R13 Caracterización de proceso GH.pdf</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Caracterización de proceso GH.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2. Políticas</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-28">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 Política de ingreso a visitantes</td>
                <td class="imagen"><a href="/1 Política de ingreso a visitantes.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2. Política de permisos</td>
                <td class="imagen"><a href="/2 Política de permisos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3. Política de Desconexión Laboral.pdf</td>
                <td class="imagen"><a href="/GH-PT03-1 Política de Desconexión Laboral.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                 
            </tbody>
        </table>
    </div>


    <div class="title"><h3>3. Manuales</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-29">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-M01-R9 Manual de Perfiles</td>
                <td class="imagen"><a href="/1 GH-M01-R9 Manual de Perfiles.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                   
            </tbody>
        </table>
    </div>

    <div class="title"><h3>4. Procedimientos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-30">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P01-R10 Procedimiento Gestión Humana</td>
                <td class="imagen"><a href="/1 GH-P01-R10 Procedimiento Gestión Humana.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 Procedimiento Disciplinario</td>
                <td class="imagen"><a href="/2 Procedimiento Disciplinario.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>

    <div class="title"><h3>5. Instructivos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-31">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-IN01-R4 Instructivo para aplicar la Evaluación de Desempeño de personal</td>
                <td class="imagen"><a href="/1 GH-IN01-R4 Instructivo para aplicar la Evaluación de Desempeño de personal.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GH-P01-IN02-R1 Instructivo de Consulta de Desprendibles de Pago y Certificados</td>
                <td class="imagen"><a href="/2 GH-P01-IN02-R1 Instructivo de Consulta de Desprendibles de Pago y Certificados.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>

    <div class="title"><h3>6. Organigrama</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-32">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P01-F01-R2 Organigrama</td>
                <td class="imagen"><a href="/1 GH-P01-F01-R2 Organigrama.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

    
    
    
    <div class="title"><h3>7. Formatos</h3></div>
    <div class="title"><h3>7.1 Formatos Generales</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-33">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P01-F09-R5 Requisición de personal</td>
                <td class="imagen"><a href="/1. GH-P01-F09-R5 Requisición de personal.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

    <div class="title"><h3>7.2 Selección de personal</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-34">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P01-F02-R6 Información General de Candidatos</td>
                <td class="imagen"><a href="/1 GH-P01-F02-R6  Información General de Candidatos.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GH-P01-F17-R3 Aprobacion hoja de vida</td>
                <td class="imagen"><a href="/2 GH-P01-F17-R3  Aprobacion hoja de vida.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GH-P01-F27-R1 Informe de selección</td>
                <td class="imagen"><a href="/3 GH-P01-F27-R1 Informe de selección.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>                   
            </tbody>
        </table>
    </div>


    <div class="title"><h3>7.3 Capacitaciones</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-35">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P02-F06-R0 Diagnóstico de necesidades capacitación</td>
                <td class="imagen"><a href="/1 GH-P02-F06-R0 Diagnóstico de necesidades capacitación.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>     
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GH-P02-F04-R1 Evaluación de Capacitación</td>
                <td class="imagen"><a href="/2 GH-P02-F04-R1 Evaluación de Capacitación.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GH-P02-F01-R8 Listado de Asistentes a capacitación_Eventos</td>
                <td class="imagen"><a href="/3 GH-P02-F01-R8 Listado de Asistentes a capacitación_Eventos.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GH-P02-F02-R3 Cronograma Entrenamiento y Capacitación</td>
                <td class="imagen"><a href="/4 GH-P02-F02-R3 Cronograma Entrenamiento y Capacitaciòn.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>


    <div class="title"><h3>7.4 Evaluación del desempeño del personal</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-36">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GH-P03-F01-R4 Eva. Desempeño Operaciones y Admon</td>
                <td class="imagen"><a href="/1 GH-P03-F01-R4 Eva. Desempeño Operaciones y Admon.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


    <div class="title"><h3>7.5 Formatos internos no controlados</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-37">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 Relación de Transportes y Caja Menor</td>
                <td class="imagen"><a href="/1 Relación de Transportes y Caja Menor.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>     
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 Acta Entrega Carnet y Dotación.docx</td>
                <td class="imagen"><a href="/2  Acta Entrega Carnet y Dotación.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 Autorizacion de descuento por nómina</td>
                <td class="imagen"><a href="/3  Autorizacion de descuento por nómina.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 Encuesta de Retiro</td>
                <td class="imagen"><a href="/4  Encuesta de Retiro.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 Formato para procedimiento disciplinario</td>
                <td class="imagen"><a href="/5  Formato para procedimiento disciplinario.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 Formato Reporte Novedades Nómina</td>
                <td class="imagen"><a href="/6 Formato Reporte Novedades Nómina.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">7 Lista Documentos de Ingreso Versión Nov 2017</td>
                <td class="imagen"><a href="/7 Lista Documentos de Ingreso Versión Nov 2017.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">8 Paz y Salvo</td>
                <td class="imagen"><a href="/8  Paz y Salvo.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">9 Solicitud de Permiso</td>
                <td class="imagen"><a href="/9 Solicitud de Permiso.doc">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">10</td>
                    <td class="letra">10 Lista Documentos de Ingreso</td>
                <td class="imagen"><a href="/10 Lista Documentos de Ingreso.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                 
            </tbody>
        </table>
    </div>

    <div class="title"><h3>8. Guías</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-38">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1. GH-P01-Guía01-R1 Guía de Bienvenida a Selcomp e introducción al cargo</td>
                <td class="imagen"><a href="/1. GH-P01-Guía01-R1 Guía de Bienvenida a Selcomp e introducción al cargo.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


    
</body>
</html>