<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/comercial.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión Comercial</h1>
</div>
<!--<div class="contenedor">
    <a href="../../mapa-proceso.html">
       <button>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <i class='bx bx-left-arrow-alt'></i> REGRESAR
       </button>
    </a>
   </div>-->
<div class="title"><h3>1. Caracterización</h3></div>

    <div>
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-10">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-F04-R13 Formato Caracterización de proceso GC</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Formato Caracterización de proceso GC.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2. Procedimientos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-11">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GC-P01-R13 Procedimiento Gestión Comercial</td>
                <td class="imagen"><a href="/1 GC-P01-R13 Procedimiento Gestión Comercial.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GC-P02-R7 Procedimiento para la elaboración de ofertas</td>
                <td class="imagen"><a href="/2 GC-P02-R7 Procedimiento para la elaboración de ofertas.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>


    <div class="title"><h3>3. Políticas</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-12">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GC-P01-PT01-R4 Política general aprobación de propuesta</td>
                <td class="imagen"><a href="/1 GC-P01-PT01-R4 Política general aprobación de propuesta.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                   
            </tbody>
        </table>
    </div>

    <div class="title"><h3>4. Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-13">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GC-P01-F07-R1 Análisis de Viabilidad y Costos</td>
                <td class="imagen"><a href="/1 GC-P01-F07-R1 Análisis de Viabilidad y Costos.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GC-P01-F08-R1 Evaluación de Ofertas estándar</td>
                <td class="imagen"><a href="/2 GC-P01-F08-R1 Evaluación de Ofertas estándar.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>      
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GC-P02-F01-R3 Consecutivo Propuestas Varias</td>
                <td class="imagen"><a href="/3 GC-P02-F01-R3 Consecutivo Propuestas Varias.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GC-P02-F02-R3 Seguimiento a Propuestas Ganadas</td>
                <td class="imagen"><a href="/4 GC-P02-F02-R3 Seguimiento a Propuestas Ganadas.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GC-P02-F03-R0 Cuadro de seguimiento de propuestas por presentar</td>
                <td class="imagen"><a href="/5 GC-P02-F03-R0 Cuadro de seguimiento de propuestas por presentar.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 GC-P02-F04-R3 Solicitud de hojas de vida ofertas a presentar</td>
                <td class="imagen"><a href="/6 GC-P02-F04-R3 Solicitud de hojas de vida ofertas a presentar.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">7 GC-P02-F05-R0 Evaluación de Propuestas de Servicio</td>
                <td class="imagen"><a href="/7 GC-P02-F05-R0 Evaluación de Propuestas de Servicio.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">8 GC-P02-F06-R0 Evaluación de Venta o Arriendo de Equipos</td>
                <td class="imagen"><a href="/8 GC-P02-F06-R0 Evaluación de Venta o Arriendo de Equipos.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">9 GC-P02-F07-R0 Evaluación de Subastas</td>
                <td class="imagen"><a href="/9 GC-P02-F07-R0 Evaluación de Subastas.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>             
            </tbody>
        </table>
    </div>


    
    
</body>
</html>