<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/operaciones.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión de Operaciones</h1>
</div>

<!--<div class="contenedor">
    <a href="../../mapa-proceso.html">
       <button>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
           <i class='bx bx-left-arrow-alt'></i> REGRESAR
       </button>
    </a>
   </div>-->
<div class="subtitulo"><h2>1. Operaciones</h2></div>
<div class="title"><h3>1.1 Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th  class="cuadro-14">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-F04- R13 Caracterización de proceso GO</td>
                <td class="imagen"><a href="/GCA-P01-F04- R13 Caracterización de proceso GO.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>1.2 Procedimientos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-15">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-P01-R10 Procedimiento Gestión de Operaciones</td>
                <td class="imagen"><a href="/GO-P01-R10 Procedimiento Gestión de Operaciones.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GO-P06-R0 Procedimiento Recepción Equipos en laboratorio</td>
                <td class="imagen"><a href="/GO-P06-R0 Procedimiento Recepción Equipos en laboratorio.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                  
            </tbody>
        </table>
    </div>


    <div class="title"><h3>1.3 Instructivos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-16">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-IN02-R3 Instructivo de mantenimiento y soporte tecnico</td>
                <td class="imagen"><a href="/1 GO-IN02-R3  Instructivo de mantenimiento y soporte tecnico.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GO-IN07-R5 Instructivo de seguimiento a proyectos</td>
                <td class="imagen"><a href="/GO-IN07-R5  Instructivo de seguimiento a proyectos.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GO-IN17-R0 Instructivo Configuración equipos Selcomp</td>
                <td class="imagen"><a href="/GO-IN17-R0 Instructivo Configuración equipos Selcomp.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GO-IN01-R3 Instructivo Mantenimiento Preventivo</td>
                <td class="imagen"><a href="/1 GO-IN01-R3  Instructivo Mantenimiento  Preventivo.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GO-IN03-R6 Instructivo Verificación Multímetros</td>
                <td class="imagen"><a href="/GO-IN03-R6 Instructivo Verificación Multímetros.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>     
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 GO-IN13-R3 Instructivo gestión de Garantías en contratos de Venta</td>
                <td class="imagen"><a href="/2 GO-IN13-R3 Instructivo gestión de Garantías en contratos de Venta.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">7 GO-IN16-R1 Instructivo Nomenclatura equipos Selcomp</td>
                <td class="imagen"><a href="/3 GO-IN16-R1 Instructivo Nomenclatura equipos Selcomp.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">8 Instructivo creación de casos en Aranda</td>
                <td class="imagen"><a href="/Instructivo creación de casos en Aranda.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">9 Plantilla Solicitud Servicio Laboratorio</td>
                <td class="imagen"><a href="/Plantilla Solicitud Servicio Laboratorio.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">10</td>
                    <td class="letra">10 GO-GUÍA01-R1 Términos de garantía para ETP</td>
                <td class="imagen"><a href="/1 GO-GUÍA01-R1 Términos de garantía para ETP.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>            
            </tbody>
        </table>
    </div>

    <div class="title"><h3>1.4 Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-17">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-P01-F02 R3 Control de Horarios</td>
                <td class="imagen"><a href="/1 GO-P01-F02 R3 Control de Horarios.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GO-P01-F03-R1 Control de Permisos</td>
                <td class="imagen"><a href="/2 GO-P01-F03-R1 Control de Permisos.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GO-P01-F05-R1 Llamados de Atención</td>
                <td class="imagen"><a href="/3 GO-P01-F05-R1 Llamados de Atención.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GO-P01-F06-R1 Plan de Trabajo</td>
                <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GO-P01-F07-R2 Informe de seguimiento y control por proyecto</td>
                <td class="imagen"><a href="/5 GO-P01-F07-R2 Informe de seguimiento y control por proyecto.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 GO-P01-F08-R0 Acta de entrega de celular</td>
                <td class="imagen"><a href="/6 GO-P01-F08-R0 Acta de entrega de celular.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">7 GO-P01-F01.1 Anexo Plan de Trabajo</td>
                <td class="imagen"><a href="/GO-P01-F01.1 Anexo Plan de Trabajo.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>     
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">8 GO-IN01-F01-R10 Ficha de mantenimiento Preventivo</td>
                <td class="imagen"><a href="/1 GO-IN01-F01-R10 Ficha de mantenimiento Preventivo.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">9 FORMATO SELCOMP OT</td>
                <td class="imagen"><a href="/1 FORMATO SELCOMP OT.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">10</td>
                    <td class="letra">10 GO-IN03-F01-R8 Verificacion de multímetros</td>
                <td class="imagen"><a href="/GO-IN03-F01-R8 Verificacion de multímetros.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>             
            </tbody>
        </table>
    </div>

  <!--  <div class="subtitulo"><h2>2. Mantenimiento Preventivo</h2></div>
<div class="title"><h3>2.1 Procedimientos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-18">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-P05-R3 Procedimiento Mantenimiento Preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.1 procedimientos/1 GO-P05-R3 Procedimiento Mantenimiento Preventivo.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2.2 Instructivos</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-19">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-IN01-R3 Instructivo Mantenimiento Preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.2 instructivos/1 GO-IN01-R3  Instructivo Mantenimiento  Preventivo.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>


    <div class="title"><h3>2.3 Formatos</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-20">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GO-IN01-F01-R10 Ficha de mantenimiento Preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.3 formatos/1 GO-IN01-F01-R10 Ficha de mantenimiento Preventivo.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GO-IN01-F02-R0 Informe Ejecutivo Mantenimiento Preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.3 formatos/2 GO-IN01-F02-R0 Informe Ejecutivo Mantenimiento Preventivo.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GO-P01-F06-R1 Plan de Trabajo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.3 formatos/3 GO-P01-F06-R1 Plan de Trabajo.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GO-IN01-F09-R1 Informe Semanal de Avance Mantenimiento Preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.3 formatos/4 GO-IN01-F09-R1 Informe Semanal de Avance Mantenimiento Preventivo.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GO-IN01-F12-R0 Equipos sin intervencion mantenimiento preventivo</td>
                <td class="imagen"><a href="documentos-operaciones/2.mantenimiento/2.3 formatos/5 GO-IN01-F12-R0 Equipos sin intervencion mantenimiento preventivo.xlsm">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                
            </tbody>
        </table>
    </div>

    <div class="subtitulo"><h2>3. Laboratorio</h2></div>
    <div class="title"><h3>3.1 Procedimientos</h3></div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="cuadro-21">Item</th>
                        <th>Nombre</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="letra">01</td>
                        <td class="letra">1 GO-P02-R3 Procedimiento de Laboratorio</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.1 procedimientos/1 GO-P02-R3 Procedimiento de Laboratorio.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>     
                    <tr>
                        <td class="letra">02</td>
                        <td class="letra">2 GO-P03-R4 Procedimiento asignación de servicio a laboratorio externo</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.1 procedimientos/2 GO-P03-R4  Procedimiento asignación de  servicio a laboratorio externo.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr> 
                    <tr>
                        <td class="letra">03</td>
                        <td class="letra">3 GO-P06-R0 Procedimiento Recepción Equipos en laboratorio</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.1 procedimientos/3 GO-P06-R0 Procedimiento Recepción Equipos en laboratorio.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>                
                </tbody>
            </table>
        </div>
    
    <div class="title"><h3>3.2 Instructivos</h3></div>
        <div >
            <table>
                <thead>
                    <tr>
                        <th class="cuadro-22">Item</th>
                        <th>Nombre</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="letra">01</td>
                        <td class="letra">1 GO-IN03-R5 Instructivo Verificación Multímetros</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.2 instructivos/1 GO-IN03-R5 Instructivo Verificación Multímetros.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>  
                    <tr>
                        <td class="letra">02</td>
                        <td class="letra">2 GO-IN13-R3 Instructivo gestión de Garantías en contratos de Venta</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.2 instructivos/2 GO-IN13-R3 Instructivo gestión de Garantías en contratos de Venta.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>  
                    <tr>
                        <td class="letra">03</td>
                        <td class="letra">3 GO-IN16-R1 Instructivo Nomenclatura equipos Selcomp</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.2 instructivos/3 GO-IN16-R1 Instructivo Nomenclatura equipos Selcomp.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    
    
        <div class="title"><h3>3.3 Guías</h3></div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="cuadro-23">Item</th>
                        <th>Nombre</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="letra">01</td>
                        <td class="letra">1 GO-GUÍA01-R1 Términos de garantía para ETP</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.3 guias/1 GO-GUÍA01-R1 Términos de garantía para ETP.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>                 
                </tbody>
            </table>
        </div>

        <div class="title"><h3>3.4 Formatos</h3></div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="cuadro-24">Item</th>
                        <th>Nombre</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="letra">01</td>
                        <td class="letra">1 FORMATO SELCOMP OT</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.4 formatos/1 FORMATO SELCOMP OT.docx">
                        <img src="/word-svgrepo-com.png"alt=""></a></td>
                    </tr>  
                    <tr>
                        <td class="letra">02</td>
                        <td class="letra">GO-IN03-F01-R8 Verificacion de multímetros</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.4 formatos/GO-IN03-F01-R8 Verificacion de multímetros.xlsx">
                        <img src="/excel-svgrepo-com.png"alt=""></a></td>
                    </tr>                 
                </tbody>
            </table>
        </div>


        <div class="title"><h3>3.5 No controlados</h3></div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th class="cuadro-25">Item</th>
                        <th>Nombre</th>
                        <th>Formato</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="letra">01</td>
                        <td class="letra">1 Instructivo creación de casos en Aranda</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.5 no-controlados/Instructivo creación de casos en Aranda.pdf">
                        <img src="/PDF.png"alt=""></a></td>
                    </tr>  
                    <tr>
                        <td class="letra">02</td>
                        <td class="letra">2 Plantilla Solicitud Servicio Laboratorio</td>
                    <td class="imagen"><a href="documentos-operaciones/3.laboratorios/3.5 no-controlados/Plantilla Solicitud Servicio Laboratorio.xlsx">
                        <img src="/excel-svgrepo-com.png"alt=""></a></td>
                    </tr>                 
                </tbody>
            </table>
        </div> -->
    
        <div class="subtitulo"><h2>2. Planes de trabajo</h2></div>
      <!--  <div class="title"><h3>2.1 Procedimientos</h3></div> -->
            <div>
                <table>
                    <thead>
                        <tr>
                            <th class="cuadro-26">Item</th>
                            <th>Nombre</th>
                            <th>Formato</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                            <td class="letra">01</td>
                            <td class="letra">1 GO-P01-F01 Plan de Trabajo - Agencia Nacional de Minería</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo - Agencia Nacional de Minería.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>   
                        <tr>
                            <td class="letra">02</td>
                            <td class="letra">2 GO-P01-F01 Plan de Trabajo Artesanias de Colombia</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Artesanias de Colombia.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">03</td>
                            <td class="letra">3 GO-P01-F01 Plan de Trabajo Computadores para Educar Soporte en Sitio</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Computadores para Educar Soporte en Sitio.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">04</td>
                            <td class="letra">4 GO-P01-F01 Plan de Trabajo FNA</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo FNA.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">05</td>
                            <td class="letra">5 GO-P01-F01 Plan de Trabajo Hospital Militar</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Hospital Militar.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">06</td>
                            <td class="letra">6 GO-P01-F01 Plan de Trabajo Ladrillera Prisma</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Ladrillera Prisma.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">07</td>
                            <td class="letra">7 GO-P01-F01 Plan de Trabajo Minagricultura</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Minagricultura.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">08</td>
                            <td class="letra">8 GO-P01-F01 Plan de Trabajo Mincomercio</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Mincomercio.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">09</td>
                            <td class="letra">9 GO-P01-F01 Plan de Trabajo Mindeportes</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Mindeportes.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">10</td>
                            <td class="letra">10 GO-P01-F01 Plan de Trabajo Presidencia</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Presidencia.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">11</td>
                            <td class="letra">11 GO-P01-F01 Plan de Trabajo Superfinanciera</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Superfinanciera.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>                   
                        <tr>
                            <td class="letra">12</td>
                            <td class="letra">12 GO-P01-F01 Plan de Trabajo Bancamía</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Bancamía.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">13</td>
                            <td class="letra">13 GO-P01-F01 Plan de Trabajo - UAE Cuerpo Oficial de Bomberos</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo - UAE Cuerpo Oficial de Bomberos.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr>  
                        <tr>
                            <td class="letra">14</td>
                            <td class="letra">14 GO-P01-F01 Plan de Trabajo financiera juriscoop</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo financiera juriscoop.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr> 
                        <tr>
                            <td class="letra">15</td>
                            <td class="letra">15 GO-P01-F01 Plan de Trabajo Concejo de Bogotá</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo Concejo de Bogotá.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr> 
                        <tr>
                            <td class="letra">16</td>
                            <td class="letra">16 GO-P01-F01 Plan de Trabajo CPE Centro de Contacto</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo CPE Centro de Contacto.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr> 
                        <tr>
                            <td class="letra">17</td>
                            <td class="letra">17 GO-P01-F01 Plan de Trabajo - SUPERINTENDENCIA DE SUBSIDIO FAMILIAR</td>
                        <td class="imagen"><a href="/GO-P01-F01 Plan de Trabajo - SUPERINTENDENCIA DE SUBSIDIO FAMILIAR.pdf">
                            <img src="/PDF.png"alt=""></a></td>
                        </tr> 
                    </tbody>
                </table>
            </div>
    
</body>
</html>