<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/ico" href="/satelite.png">
    <title>Selcomp Ingeniería S.A.S</title>
    <link rel="stylesheet" href="/calidad.css">

</head>
<body>
    <div class="contenedor">
        <a href="../procesos">
            <div class="row justify-content-center my-5">
                <img id="logo" src="/selcomp 2.png" alt="Selcomp Ingenieria S.A.S"/>
            </div>
           </a>
    </div>
<div class="titulo">
    <h1>Gestión de Calidad y Servicio al Cliente</h1>
</div>

<div class="title"><h3>1. Caracterización</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-3">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-F04- R13 Caracterización de proceso GCA</td>
                <td class="imagen"><a href="/1 GCA-P01-F04- R13 Caracterización de proceso GCA.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>                    
            </tbody>
        </table>
    </div>

<div class="title"><h3>2. Calidad</h3></div>
    <div >
        <table>
            <thead>
                <tr>
                    <th class="cuadro-4">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P01-R7 Procedimiento Gestión de la Calidad</td>
                <td class="imagen"><a href="/1 GCA-P01-R7 Procedimiento Gestión de la Calidad.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>    
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">1.1 GCA-IN02 R1 Instructivo gestión de riesgos y oportunidades</td>
                <td class="imagen"><a href="/1.1 GCA-IN02 R1 Instructivo gestión de riesgos y oportunidades.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">1.2 GCA-IN03-RO Instructivo gestión de cambios</td>
                <td class="imagen"><a href="/1.2 GCA-IN03-RO Instructivo gestión de cambios.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">2 GCA-P01-F01-R6 Informe de seguimiento y control</td>
                <td class="imagen"><a href="/2 GCA-P01-F01-R6 Informe de seguimiento y control.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">3 GCA-P01-F02-R1 Acta de reunión</td>
                <td class="imagen"><a href="/3 GCA-P01-F02-R1 Acta de reunión.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">4 GCA-P01-F03-R1 Plan anual de gestión</td>
                <td class="imagen"><a href="/4 GCA-P01-F03-R1 Plan anual de gestión.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">5 GCA-P01-F04- R13 Formato Caracterización de proceso</td>
                <td class="imagen"><a href="/5 GCA-P01-F04- R13 Formato Caracterización de proceso.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">08</td>
                    <td class="letra">6 GCA-P01-F05-R1 Registro y control de los cambios</td>
                <td class="imagen"><a href="/6 GCA-P01-F05-R1 Registro y control de los cambios.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">09</td>
                    <td class="letra">7 GCA-P01-F06-R1 Matriz Gestión de Riesgos</td>
                <td class="imagen"><a href="/7 GCA-P01-F06-R1 Matriz Gestión de Riesgos.xls">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>                 
            </tbody>
        </table>
    </div>


    <div class="title"><h3>3. Acciones de mejora</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-5">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P02-R16 Procedimiento Acciones de Mejora</td>
                <td class="imagen"><a href="/GCA-P02-R16 Procedimiento Acciones de Mejora.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GCA-PO2-IN01-R0 Instructivo diligenciamiento formulario AM</td>
                <td class="imagen"><a href="/GCA-PO2-IN01-R0 Instructivo diligenciamiento formulario AM.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GCA-P02-F01-R8 Seguimiento de Acciones de Mejora</td>
                <td class="imagen"><a href="/GCA-P02-F01-R8 Seguimiento de Acciones de Mejora.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GCA-P02-F02-R12 Formulario de Registro de Acciones de Mejora</td>
                <td class="imagen"><a href="/GCA-P02-F02-R12 Formulario de Registro de Acciones de Mejora.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                         
            </tbody>
        </table>
    </div>

    <div class="title"><h3>4. Auditorías</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-6">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P03-R14 Procedimiento Auditorías de Calidad</td>
                <td class="imagen"><a href="/GCA-P03-R14 Procedimiento Auditorías de Calidad.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GCA-P03-F02-R6 Formato Lista de chequeo Auditoría</td>
                <td class="imagen"><a href="/GCA-P03-F02-R6 Formato Lista de chequeo Auditoría.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GCA-P03-F03-R7 Formato Programa de Auditoría</td>
                <td class="imagen"><a href="/GCA-P03-F03-R7 Formato Programa de Auditoría.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GCA-P03-F04-R2 Formato Plan de Auditoría</td>
                <td class="imagen"><a href="/GCA-P03-F04-R2 Formato Plan de Auditoría.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>  
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GCA-P03-F05-R1 Formato Informe de Auditoría</td>
                <td class="imagen"><a href="/GCA-P03-F05-R1 Formato Informe de Auditoría.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>  
                
                
            </tbody>
        </table>
    </div>

    <div class="title"><h3>5. Información documentada</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-7">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P04-R11 Procedimiento Control de la Información Documentada</td>
                <td class="imagen"><a href="/1 GCA-P04-R11 Procedimiento Control de la Información Documentada.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GCA-IN01-R3 Norma Fundamental</td>
                <td class="imagen"><a href="/2 GCA-IN01-R3 Norma Fundamental.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GCA-IN01-F01-R1 Formato para descripción de Procesos y Subprocesos</td>
                <td class="imagen"><a href="#">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GCA-IN01-F02-R0 Formato para descripción de Instructivos</td>
                <td class="imagen"><a href="/4 GCA-IN01-F02-R0 Formato para descripción de Instructivos.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr>
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GCA-P04-F03-R5 Listado Maestro de Documentos Externos</td>
                <td class="imagen"><a href="/5 GCA-P04-F02-R5 Listado Maestro de Documentos Internos.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 GCA-P04-F04-R6 Listado Maestro Registros</td>
                <td class="imagen"><a href="/6 GCA-P04-F03-R5 Listado de Maestro de Documentos Externos.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr>
                         
            </tbody>
        </table>
    </div>


    <div class="title"><h3>6. Servicio al Cliente y Salidas No Conformes</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-8">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-P05-R2 Procedimiento de control SNC - FPQR</td>
                <td class="imagen"><a href="/1 GCA-P05-R2 Procedimiento de control SNC - FPQR.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 GCA-P05-F01-R1 Tratamiento No Conforme (SNC) - Quejas FPQR</td>
                <td class="imagen"><a href="/2 GCA-P05-F01-R1 Tratamiento No Conforme (SNC) - Quejas FPQR.xlsx">
                    <img src="/excel-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 GCA-P06-R7 Procedimiento Enfoque al Cliente y su Satisfacción</td>
                <td class="imagen"><a href="/3 GCA-P06-R7 Procedimiento Enfoque al Cliente y su Satisfacción.PDF">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 GCA-P06-F01-R15 Evaluación de Satisfacción Cliente soporte</td>
                <td class="imagen"><a href="/4 GCA-P06-F01-R15 Evaluación de Satisfacción Cliente soporte.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 GCA-P06-F02-R12 Evaluacion de Satisfaccion Cliente Venta</td>
                <td class="imagen"><a href="/5 GCA-P06-F02-R12 Evaluacion de Satisfaccion Cliente Venta.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr> 
                         
            </tbody>
        </table>
    </div>


    <div class="title"><h3>7. Generales</h3></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="cuadro-9">Item</th>
                    <th>Nombre</th>
                    <th>Formato</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td class="letra">01</td>
                    <td class="letra">1 GCA-PT01_R0 Política de uso de la marca de certificación Bureau Veritas</td>
                <td class="imagen"><a href="/1 GCA-PT01_R0 Política de uso de la marca de certificación Bureau Veritas.pdf">
                    <img src="/PDF.png"alt=""></a></td>
                </tr>   
                <tr>
                    <td class="letra">02</td>
                    <td class="letra">2 Papel Membretado</td>
                <td class="imagen"><a href="/Papel Membretado V2.docx">
                    <img src="/word-svgrepo-com.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">03</td>
                    <td class="letra">3 Diseño presentación Selcomp</td>
                <td class="imagen"><a href="#">
                    <img src="/picture.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">04</td>
                    <td class="letra">4 Logo Selcomp Fondo Blanco</td>
                <td class="imagen"><a href="/4.Logo Selcomp.jpg">
                    <img src="/picture.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">05</td>
                    <td class="letra">5 Logo Selcomp Fondo Transparente</td>
                <td class="imagen"><a href="/5.Logo selcomp transparente.png">
                    <img src="/picture.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">06</td>
                    <td class="letra">6 Logo Selcomp Negativo</td>
                <td class="imagen"><a href="/6.Logo Selcomp_negativo.png">
                    <img src="/picture.png"alt=""></a></td>
                </tr> 
                <tr>
                    <td class="letra">07</td>
                    <td class="letra">7 Logo Selcomp Negro</td>
                <td class="imagen"><a href="/7.Logo negro.jpeg">
                    <img src="/picture.png"alt=""></a></td>
                </tr> 
                         
            </tbody>
        </table>
    </div>
    
    
</body>
</html>